<div
  class="card"
>
  <!-- Top -->
  <div class="flex items-start justify-between">
    <div>
      <h3 class="text-lg font-semibold text-gray-700 leading-tight">
        {{ title }}
      </h3>

      <div class="mt-4 text-2xl font-bold text-red-700">
        {{ value | number }}
      </div>
    </div>

    <!-- Icon -->
    <div
      class="menu-item-icon"
      *ngIf="icon"
    >
      <lucide-icon
        [name]="icon"
        class="w-7 h-7">
      </lucide-icon>
    </div>
  </div>

  <!-- Button -->
  <button
    (click)="viewAll.emit()"
    class="button-cust"
  >
    View All Cases
  </button>
</div>
